body {
    background-color: seagreen;
    width: 100%;
    

}

p {
    border: solid;
    border-color: seagreen;
    border-radius: 5px;
    margin: 20px
}


h1 {
    text-align: center;
    justify-content: center;
}

nav {
    background-color: #C1E1C1;
    width: 100%;
} 

.navbar {
    background-color: #C1E1C1;
    width: 100%;
    height: 100%;

}

.nav-link {
    background-color: #C1E1C1;
    width: 210px;
}

.btn {
    background-color: #C1E1C1;
    font-size: 16px;
    font-weight: 600;
    border: black;
}
input {
    width: 100%;
    border-radius: 5px;
    border: none;
    
}

.card {
    background-color: #C1E1C1;

}

button {
    background-color: seagreen;
    border-color: seagreen;
    width: 100%;
    margin-top: 5px;
    color: white;
    font-weight: 500;
}

